*{
    box-sizing: border-box;
}
.bas{
    font-family: 'Roboto', sans-serif;
    background-color: #95cbda;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23696969' fill-opacity='0.67'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10vh;
    padding-left: 3em;
}


.base{
    display: flex;
    flex-direction: row;
    height: 90vh;
    align-items: center;
}

.texto{
    margin: 6em ;
    margin-top: 0em;
    margin-bottom: 0;
    width: 50%;
    height: 80%;
    text-align: center;
}

.texto .input-text{
    border: 0;
    height: 70%;
    width: 90%;
    font-size: 1.5em;
    background: #95cbda;
    padding: 0;
    text-align: center;
    color: black;
    background-color: transparent;
    outline: none;
}

::placeholder{
    color:black;
}

.texto .alerta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

.texto p{
    font-size: 1.2em;
    justify-content: start;
}

.alerta img{
    width: 1em;
    margin-right: 0.5em;
}

.texto .botones{
    text-align:center;
    width: 100%;
}

.texto .en, .des{
    width: 35%;
    margin: 0 2em;
    color: white;
    padding: 10px 10px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
}

.texto .en:hover, .des:hover{
    cursor: pointer;
    scale: 1.2;
}

.texto .en{
    background: #1D1E2C;
}

.texto .des{
    background: #5F506B;
}

.botones .encritar, .desencriptar{
    margin: 0 auto;
}

.texto-traducido-before{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
    width: 30%;
    height: 80%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background: #F7F4F3;
    border-radius: 40px;
    box-shadow: 20px 20px 50px grey;
}

.texto-traducido-before img{
    width: 60%;
}

.texto-traducido-before h1{
    font-weight: bold;
    margin: 1em 0;
}
.texto-traducido-before p{
    padding: 0 1em;
}

.texto-traducido-after{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    background: white;
    text-align: center;
    border-radius: 40px;
    box-shadow: 20px 20px 50px grey;
}

.texto-traducido-after .cop{
    height: 2.5em;
    margin: 0 2em;
    color: white;
    padding: 10px 10px;
    font-size: 1.1em;
    background: #5F506B;
    border: none;
    border-radius: 5px;
}

.texto-traducido-after .cop:hover{
    cursor: pointer;
    scale: 1.2;
}

.texto-traducido-after #p{
    padding: 0 2em;
    height: 80%;
    width: 85%;
    background-color: transparent;
    resize: none;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 24px;
    color: #495057;
}

/* RESPONSIVE  */

@media (max-width: 768px){
    .base{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 90vh;
    }

    .texto {
        margin: 0 auto;
        height: 70%;
        width: 80%;
    }

    .texto-traducido-before{
        height: 10%;
        width: 80%;
    }

    .texto-traducido-before img{
        display: none;
    }

    .texto-traducido-before h1{
        margin: .5em 0;
    }
}

@media (max-width: 710px){
    .texto .en, .des{
        padding: 10px 5px;
        border-radius: 10px;
    }
}

@media (max-width: 425px){
    .base{
        width: 100%;
    }
    .texto {
        height: 70%;
        width: 80%;
    }
    .texto .input-text{
        height: 50%;
        width: 100%;
        font-size: 1em;
    }

    .botones{
        width: 100%;
    }
    .texto .en, .des{
        margin: .5em;
        color: white;
        width: 100%;
    }

    .texto-traducido-before{
        height: 40%;
    }
}